header{
    img{
        max-width: 12%;
        padding: 20px 0;
    }
    .headerLinks a, .headerLogin a{
        color: var(--color-ludoGreenLight);
        font-size: 1.3em;
    }
    .headerLinks{
        display: flex;
        align-items: center;
        gap: 0 40px;
    }
    .headerLogin{
        display: flex;
        align-items: center;
        gap: 0 20px;
    }
}