 .title-Card-Bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10%;
 }
 
 
 
 .filter-bar {
    display: flex;
    justify-content: right;
    align-items: center;
  }
  
 
  
  .event-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .filter-tile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  