 .filter-bar {
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
  }
  
 
  /*.filter-bar button.active {
    background-color: #0056b3;
  }*/
  
  .event-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  